body{
  height: 3000px;
  font-family: Arial;
  margin: 0;
}

.header{
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 70px;
  padding-right: 70px;

  background-color: white;
}

/* Left */
.left-section{
  display: flex;
  align-items: center;
}

.left-section img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;

  margin-right: 10px;
}

.name{
  font-weight: bold;
}

/* Right */
.right-section{
  display: flex;
  align-items: center;
}

.add-btn{
  background-color: rgb(24,119,242);
  color: white;

  border: none;
  padding: 8px 12px;

  border-radius: 6px;

  font-weight: bold;

  margin-right: 10px;
}

.msg-btn{
  background-color: rgb(230,230,230);

  border: none;

  padding: 8px 12px;

  border-radius: 6px;

  font-weight: bold;
}