.video-list{
  width: 500px;
}

.video{
  display: flex;
  margin-bottom: 15px;
}

.thumb{
  width: 180px;
  height: 100px;
  object-fit: cover;
}

.video-info{
  margin-left: 10px;
}

.title{
  font-weight: bold;
  margin: 0 0 5px 0;
}

.channel,
.stats{
  margin: 0;
  color: gray;
  font-size: 14px;
}